.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  * {
    text-align: center;
  }

  h1 {
    font-size: 5rem;
    line-height: 1.2;
  }
}

.canvas {
  width: 100dvw;
  height: 550px;
  image-rendering: pixelated;
}

.input {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-family: var(--font-retro);
}

.headerInput {
  appearance: none;
  font-size: 5rem;
  line-height: 1.2;
  font-family: var(--font-modern);
  font-weight: 600;
  border: 2px solid transparent;
  outline: none;
  text-align: center;
  background: none;
  font-variation-settings:
    "wght" 700,
    "wdth" 125;
  font-optical-sizing: auto;
  letter-spacing: -0.08em;
  transition: border-bottom-color 0.3s ease;
  &:focus,
  &:hover {
    border-bottom-color: var(--neutral-50);
  }
}

.controls {
  position: fixed;
  bottom: -48em;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--font-retro);
  padding: 0.5em;
  background: var(--neutral-700);
  border: 2px solid var(--neutral-600);
  border-radius: 5px;
  box-shadow:
    0 6px 0px var(--neutral-800),
    0 8px 12px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  transition: all 0.3s ease;

  @media (max-width: 768px) {
    width: 100dvw;
  }

  &.open {
    bottom: 1em;
  }

  .arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid var(--neutral-50);
    transition:
      border-bottom-color,
      border-top-color 0.3s ease;
  }

  &.open .arrow {
    border-bottom-color: var(--neutral-600);
    border-top-color: var(--neutral-50);
  }

  .toggle {
    position: relative;
    appearance: none;
    border: none;
    background: var(--neutral-600);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5em;
    cursor: pointer;
    padding: 0.5em;
    margin-bottom: 0.5em;
    &:hover {
      background: linear-gradient(
        to bottom,
        var(--neutral-600),
        var(--neutral-700)
      );
    }
    &:active {
      background: linear-gradient(
        to bottom,
        var(--neutral-700),
        var(--neutral-600)
      );
    }
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--neutral-50);
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .panes {
    display: flex;
    gap: 1em;
    box-sizing: border-box;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-sizing: border-box;
  }

  .swatch {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    min-width: 80px;

    .swatches {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      align-items: center;
      max-width: 60ch;
      overflow-x: auto;
      overflow-y: hidden;
      padding-block: 0.5em;
      padding-inline: 0.5em;
      scrollbar-width: thin;

      input[type="radio"] {
        display: none;
      }

      label {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
        outline: 2px solid transparent;
        transition: outline-color 0.3s ease;
        outline-offset: 2px;
      }

      label:hover {
        outline-color: var(--neutral-50);
      }

      label span {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: white;
        transition: background 0.3s ease;
      }

      input[type="radio"]:checked + span {
        outline: 2px solid white;
        outline-offset: 2px;
      }
    }
  }

  .divider {
    width: 1px;
    background: var(--neutral-400);
  }

  .preview {
    width: 128px;
    height: 128px;
    object-fit: contain;
    border: 1px solid var(--neutral-600);
    box-sizing: border-box;
    background: var(--neutral-800);
  }

  button {
    appearance: none;
    font-family: inherit;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    background: white;
    color: var(--neutral-900);
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    flex-wrap: nowrap;
    white-space: nowrap;
    cursor: pointer;

    transition: background 0.3s ease;
    &:hover {
      background: var(--neutral-50);
    }

    &:active {
      background: var(--neutral-100);
    }
  }
}
