@font-face {
    font-family: 'Tekuplus';
    src: url('/fonts/TekuplusBit-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Tekuplus';
    src: url('/fonts/TekuplusBit-Regular.ttf') format('truetype');
    font-weight: 400;
}

.uTitle1 {
    position: absolute;
    z-index: 2;
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 7em;
    color: #fff;
    font-weight: bold;
}

.title {
    position: absolute;
    z-index: 2;
    top: 4em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4em;
    color: #fff;
    font-weight: 500;
    font-family: Tekuplus, sans-serif;
    line-height: normal;
}