.canvas {
  margin: auto;
  height: 100vh;
  width: 100vw;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.daywinter {
  background: linear-gradient(180deg, #4fc2ff 0%, #ffffff 100%);
  animation-delay: 2s;
  /* biome-ignore lint/suspicious/noShorthandPropertyOverrides: gives intended effect */
  animation: fade-in 2s ease-in-out;
  background-repeat: no-repeat;
}

.festive {
  background: linear-gradient(180deg, #01010c 0%, #000000 100%);
  animation-delay: 2s;
  /* biome-ignore lint/suspicious/noShorthandPropertyOverrides: gives intended effect */
  animation: fade-in 2s ease-in-out;
  background-repeat: no-repeat;
}

.title-container {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: bold;
  font-variation-settings: "wdth" 125;
  font-optical-sizing: auto;
  letter-spacing: -0.08em;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.corner-text {
  position: absolute;
  z-index: 2;
  top: 1em;
  left: 1em;
  font-size: 1.5em;
  color: #000;
  font-weight: bold;
  font-variation-settings: "wdth" 125;
  font-optical-sizing: auto;
  letter-spacing: -0.08em;
  z-index: 0;
  white-space: nowrap;
  line-height: 1;
}

.title {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10em;
  color: #fff;
  font-weight: bold;
  font-variation-settings: "wdth" 125;
  font-optical-sizing: auto;
  letter-spacing: -0.08em;
}

.black {
  color: #000;
}

.extreme-font-title {
  z-index: 0;
  font-size: 20em;
}

.extreme-font-title-stroke {
  z-index: 0;
  font-size: 20em;
  -webkit-text-stroke: 2px #000;
  color: transparent;
}

.slider {
  position: absolute;
  z-index: 2;
  bottom: 1em;
  left: 1em;
  font-size: 1.5em;
  color: #fff;
  gap: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .canvas {
    margin: auto;
    height: 50vh;
    width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
  .slider {
    bottom: unset;
    top: 1em;
  }
}

@keyframes fade-in {
  0% {
    background-size: 6000% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}
